<h1>
    {{title}}
</h1>


<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<div class="nothing">
    <br>
    <br>
    <br>
    <br>
    <h2 scroll-fade [duration]="0.5" [delay]="0.3">That is a fade sample</h2>
</div>

<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<div>
    <h2 class="original-class" scroll-class [duration]="0.5" [delay]="0.4" [class-name]="'on-screen'">This is a class sample</h2>
</div>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>
<h5>test</h5>